.page-body{
    background-color:#f5f5f5
;
}


.title{
    font-size: 16px;
    fill: black;
}

.widget.number-widget-box {
 height: 115px;
}

.widget {
    display: flex;
    flex-direction: column;
    min-height: 1px;
    padding: 15px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0px 1px 2px rgba(25, 39, 52, 0.05), 0px 0px 4px rgba(25, 39, 52, 0.1);
    background-color: white;
}
.widget-group {
    font-size: 14px;

}
.widget .widget-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.widget.number-widget-box .widget-body {
    text-align: left;
}

.widget.number-widget-box .widget-body .widget-content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}