


<div class="row" style="margin-right: 0px; margin-left: 0px;">
  <div class="widget-group ">
				<div class="widget-group-head">

					<div class="widget-group-control"></div>
				</div>
				    <div class="widget-group-body grid-col-3"><div class="widget number-widget-box"   style="width: 25%;"   data-widget-name="Annual Sales">
			<div class="widget-head">
				<div class="widget-label">
					<div class="widget-title"><div class="number-label">Annual Sales</div></div>
					<div class="widget-subtitle"></div>
				</div>
				<div class="widget-control"><div class="card-actions dropdown pull-right">
				<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				...
				</a>
				<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
					<li class="dropdown-item">
									<a data-action="action-refresh">Refresh</a>
								</li><li class="dropdown-item">
									<a data-action="action-edit">Edit</a>
								</li>
				</ul>
			</div></div>
			</div>
			<div class="widget-body"><div class="widget-content">
				<div class="number" style="color:undefined">ر.س 0.00 </div>
				</div></div>
			<div class="widget-footer"></div>
		</div>

		</div>
  </div>

</div>
<br><br><br>
<div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-md-6 col-sm-6 col-xs-12">
		<div id="chart1" style="background-color: #ffffff;">
			<text class="title" x="20" y="10" dy="12px" font-size="12px" fill="#666666" text-anchor="start">Monthly File-wise Revenue</text>
			<br><br><br><br>
			<br><br><br><br>
			<h5 class="text-center"> No Data </h5>
			<br><br><br><br>

		</div>
    </div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div id="chart2" style="background-color: #ffffff;">
			<text class="title" x="20" y="10" dy="12px" font-size="12px" fill="#666666" text-anchor="start">Department Wise Files</text>			<br><br><br><br>
			<br><br><br><br>
			<br><br><br><br>
			<h5 class="text-center"> No Data </h5>
			<br><br><br><br>
		</div>
	</div>
</div>
<br><br><br><br>
<div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-md-6 col-sm-6 col-xs-12">
		<div id="chart3" style="background-color: #ffffff;">

			<text class="title" x="20" y="10" dy="12px" font-size="12px" fill="#666666" text-anchor="start">Top Customers</text>
			<br><br><br><br>
			<br><br><br><br>
			<h5 class="text-center"> No Data </h5>
			<br><br><br><br>
		</div>
    </div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div id="chart4" style="background-color: #ffffff;">
			<text class="title" x="20" y="10" dy="12px" font-size="12px" fill="#666666" text-anchor="start">Top Customers Revenue</text>
			<br><br><br><br>
			<br><br><br><br>
			<h5 class="text-center"> No Data </h5>
			<br><br><br><br>
		</div>
	</div>
</div>
<br><br><br><br>
<div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-md-6 col-sm-6 col-xs-12">
		<div id="chart5" style="background-color: #ffffff;">

			<text class="title" x="20" y="10" dy="12px" font-size="12px" fill="#666666" text-anchor="start">Top Customers by Gross Profit</text>
			<br><br><br><br>
			<br><br><br><br>
			<h5 class="text-center"> No Data </h5>
			<br><br><br><br>
		</div>
    </div>

</div>