<h2 class="text-center">{%= __("Statement of Account") %}</h2>
<h4 class="text-center">
	{% if (filters.party_name) { %}
		{%= filters.party_name %}
	{% } else if (filters.party && filters.party.length) { %}
		{%= filters.party %}
	{% } else if (filters.account) { %}
		{%= filters.account %}
	{% } %}
</h4>

<h6 class="text-center">
	{% if (filters.tax_id) { %}
	{%= __("Tax Id: ")%}	{%= filters.tax_id %}
	{% } %}
</h6>

<h5 class="text-center">
	{%= frappe.datetime.str_to_user(filters.from_date) %}
	{%= __("to") %}
	{%= frappe.datetime.str_to_user(filters.to_date) %}
</h5>
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 9%">{%= __("Date") %}</th>
			<th style="width: 12%">{%= __("Voucher") %}</th>
            <th style="width: 10%">{%= __("File No") %}</th>
			<th style="width: 10%">{%= __("Due Date") %}</th>
			<th style="width: 15%">{%= __("Party") %}</th>
			<th style="width: 9%; text-align: right">{%= __("Debit") %}</th>
			<th style="width: 9%; text-align: right">{%= __("Credit") %}</th>
			<th style="width: 12%; text-align: right">{%= __("Balance (Dr - Cr)") %}</th>
			<th style="width: 14%">{%= __("Remarks") %}</th>
		</tr>
	</thead>
	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
			{% if(data[i].posting_date) { %}
				<td>{%= frappe.datetime.str_to_user(data[i].posting_date) %}</td>
				<td>{%= data[i].voucher_type %}
					<br>{%= data[i].voucher_no %}</td>
				<td>{%= data[i].file_info %}</td>
				<td>{%= frappe.datetime.str_to_user(data[i].due_date) %}</td>
				<td>{%= data[i].party %}</td>
				<td style="text-align: right">
					{%= format_currency(data[i].debit, filters.presentation_currency) %}</td>
				<td style="text-align: right">
					{%= format_currency(data[i].credit, filters.presentation_currency) %}</td>	
			{% } else { %}
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><b>{%= frappe.format(data[i].account, {fieldtype: "Link"}) || "&nbsp;" %}</b></td>
				<td style="text-align: right">
					{%= data[i].account && format_currency(data[i].debit, filters.presentation_currency) %}
				</td>
				<td style="text-align: right">
					{%= data[i].account && format_currency(data[i].credit, filters.presentation_currency) %}
				</td>
			{% } %}
				<td style="text-align: right">
					{%= format_currency(data[i].balance, filters.presentation_currency) %}
				</td>
				<td>{%= data[i].remarks  %}</td>
			</tr>
		{% } %}
	</tbody>
</table>
<p class="text-right text-muted">Printed On {%= frappe.datetime.str_to_user(frappe.datetime.get_datetime_as_string()) %}</p>
